.jumbotron {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.vertical-center {
	min-height: 100%; /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one :-)       */
	display: flex;
	align-items: center;
}

.loginapp-container {
	padding: 30px;
	max-width: 350px;
	width: 100% !important;
	margin: 0 auto;
	border-radius: 5px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}

.loginapp-container input[type=submit] {
	height: 44px;
	width: 100%;
	display: block;
	margin-bottom: 10px;
	position: relative;
}

.loginapp-container input[type=text], input[type=password] {
	height: 44px;
	font-size: 16px;
	width: 100%;
	margin-bottom: 10px;
	padding: 0 8px;
}

.login-copyright {
	color: #555;
	
}

}