<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<div class="jumbotron vertical-center">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-xs-4"></div>
				<div class="col-sm-12 col-md-12 col-lg-4 col-xs-4">
					<div class="loginapp-container">
						<img th:src="@{/images/logomarca.png}" width="100%" class="d-inline-block align-top" alt="" />
						<h1>Entrar no Sistema</h1>
						<p th:if="${param.error}" class="error">Usuário e/ou senha
							incorreto(s).</p>
						<form class="form-group" th:action="@{/app-login}" method="POST">
							<input type="text" name="app_usuario" placeholder="Usuário" /> <input
								type="password" name="app_senha" placeholder="Senha" /> <input
								type="submit" name="login" class="login loginapp-submit"
								value="Login" />
						</form>
						<div class="login-help">COPYRIGHT © 2018 TALDI ENGENHARIA</div>
					</div>
				</div>
				<div class="col-lg-4 col-xs-4"></div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="assets/js/bootstrap.js"></script>
</body>

</html>