<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
<meta http-equiv="Content-Type" content="text/html;" charset="UTF-8" />
</head>

<body>
	<div th:replace="fragments/header :: body"/>
		<div class="content-wrapper">
			<div class="container-fluid">
				<!-- Breadcrumbs-->
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Painel de Dados</a></li>
					<li class="breadcrumb-item active" th:text="${usuarioNome}"></li>
				</ol>
			</div>
			<!-- /.container-fluid-->
		</div>
		<!-- /.content-wrapper-->


		<!-- Scroll to Top Button-->
		<a class="scroll-to-top rounded" href="#page-top"> <i
			class="fa fa-angle-up"></i>
		</a>
		<footer th:replace="fragments/footer :: footer"> </footer>
</body>

</html>