<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
<meta http-equiv="Content-Type" content="text/html;" charset="UTF-8" />
</head>

<body>
	<div th:replace="fragments/header :: body" />
	<div class="content-wrapper">
		<div class="container-fluid">
			<!-- Breadcrumbs-->
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a
					th:href="@{/usuario/protected/cliente/faturas}">Faturas</a></li>
				<li class="breadcrumb-item active" th:text="${usuarioNome}"></li>
			</ol>
			<!-- Example DataTables Card-->
			<div class="card mb-3">
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered text-center" id="dataTable"
							width="100%" cellspacing="0">
							<thead>
								<tr>
									<th>Mês/Ano</th>
									<th>Unidade Consumidora</th>
									<th>Valor</th>
									<th>Vencimento</th>
									<th>Fatura</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
								</tr>
							</tfoot>
							<tbody>
								<th:block th:each="linha : ${dadosTabelaFaturas}">
									<tr>
										<td
											th:text="${#dates.monthName(linha.fatura.mesAno)} + '/' + ${#dates.year(linha.fatura.mesAno)}" />
										<td
											th:text="${linha.fatura.unidadeConsumidora.denominacao}" />
										<td
											th:text="'R$ ' +  ${#numbers.formatDecimal(linha.valor, 0, 'COMMA', 2, 'POINT')}"></td>
										<td
											th:text="${#dates.format(linha.fatura.dataVencimento, 'dd/MM/yyyy')}" />
										<td><a
											th:href="@{/files/{filename}(filename=${'fatura_' + usuarioLogin + linha.fatura.unidadeConsumidora.id + '_' + #dates.monthName(linha.fatura.mesAno) + '_' + #dates.year(linha.fatura.mesAno) + '.pdf'}, path=${'usuarios/' + usuarioId + '/unidades_consumidoras/' + linha.fatura.unidadeConsumidora.id + '/faturas/' + linha.fatura.id + '/'})}">
												<i class="fa fa-fw fa-file-pdf-o"></i>
										</a></td>

									</tr>
								</th:block>
							</tbody>
						</table>
					</div>
				</div>
				<div class="card-footer small text-muted">Tabela de Fatura</div>
			</div>
		</div>
	</div>
	<!-- /.container-fluid-->
	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fa fa-angle-up"></i>
	</a>
	<footer th:replace="fragments/footer :: footer"> </footer>
</body>

</html>